body{
    margin: 0px;
    padding: 0px;
}
.nav ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    background-color: #1f2937;
    height: 50px;
    justify-content: space-around;
}

.head{
    display: flex;
}

li{
    list-style: none;
    padding: 14px;
    padding-right: 3px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    color: #e5e7eb;
}

.header-logo{
    font-size: 24px;
    color: #f9faf8;
    padding: 9px;
}


h3{
    font-size: 43px;
    font-weight: bolder;
    color: #f9faf8;
}

.text,img{
    align-self: center;
}

.up{
    display: flex;
    gap: 40px;
    justify-content: center;
    background-color: #1f2937 ;
    align-content: center;
    height: 360px;
}
p{
    font-size: 18px;
    color: #e5e7eb;
}

img{
    border: 5px solid rgb(252, 144, 180);
    border-radius: 25px;
    height: 300px;
    width: auto;
}

button{
    background-color: pink;
}

h2{
    font-weight: lighter;
    font-family: fantasy;
    display: flex;
    justify-content: center;
    align-content: center;
    /* background-color: rgb(247, 174, 198); */
}

div li img{
    border: 5px solid rgb(110, 173, 255);
    border-radius: 25px;
}

.containers > ul{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
}

.card{
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card > p > em{
    flex-wrap: wrap;
    padding: 21px;
    color: #1f2937;
}

.text2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    height: 250px;
}
.text2 > p{
    color: black;
    padding: 5px;
    margin: 11px;
    font-size: 21px;
}

.video{
    height: 173px;
    width: auto;
    padding: 33px;
}

.gap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.aa{
    color: #1f2937;
    font-weight: bold;
}

.box{
    margin-right: 250px;
    margin-left: 250px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #3882f6;
    height: 117px;
    margin-top: 60px;
    border-radius: 10px;
}

.dis{
    display: flex;
    flex-direction: column;
}

.st{
    font-size: 18px;
    color: white;
    margin-top: -30px;
    margin-left: 8px;
}

.button{
    height: 37px;
    width: 120px;
    margin-top: 33px;
    color: white;
    border: 5px solid rgb(110, 173, 255);
    border-radius: 25px;
    margin-left: 50px;
}

.button > a{
    color: rgb(24, 17, 17);
    background-color: rgb(253, 189, 211);
}

.footer{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    margin-top: 56px;
}


.love{
    height: 100vh;
    width: 100vh;
}